{{ form_start(form, {
    action: path('task_create'),
    attr: { id: 'task-form' },
}) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.deadline) }}

    <button class="btn btn-primary" type="submit">
        Создать
    </button>

{{ form_end(form) }}
