<div
    class="task-item"
    data-controller="task-item"
    data-task-item-id-value="{{ task.id }}"
    data-task-item-name-value="{{ task.name }}"
    {% if task.description %}
    data-task-item-description-value="{{ task.description }}"
    {% endif %}
    {% if task.deadline %}
    data-task-item-deadline-value="{{ task.deadline|date('c') }}"
    {% endif %}
    data-task-item-done-url-value="{{ path('task_done', {id: task.id}) }}"
    data-task-item-edit-url-value="{{ path('task_update', {id: task.id}) }}"
    data-task-item-full-delete-url-value="{{ path('task_delete', {id: task.id}) }}"
    data-task-item-delete-or-restore-url-value="{{ path('task_delete_or_restore', {id: task.id}) }}"
>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ task.name }}

                {% if task.isDeleted %}
                <span class="badge bg-danger">Удалено</span>
                {% elseif task.isDone %}
                <span class="badge bg-success">Выполнено</span>
                {% else %}
                <span class="badge bg-danger">Не выполнено</span>
                {% endif %}
            </h5>

            {% if task.description %}
            <p class="card-text">{{ task.description }}</p>
            {% endif %}
        </div>

        <div class="card-footer d-flex flex-row-reverse justify-content-between align-items-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Действия
                </button>
                <ul class="dropdown-menu">
                    {% if not task.isDeleted %}
                    <li>
                        {% if task.isDone %}
                        <button class="dropdown-item" role="button" data-action="click->task-item#done">
                            Отметить как невыполненное
                        </button>
                        {% else %}
                        <button class="dropdown-item" role="button" data-action="click->task-item#done">
                            Отметить как выполненное
                        </button>
                        {% endif %}
                    </li>
                    <li>
                        <button class="dropdown-item" role="button" data-action="click->task-item#edit">
                            Редактировать
                        </button>
                    </li>

                    <li><hr class="dropdown-divider"></li>
                    {% endif %}

                    {% if task.isDeleted %}
                    <li>
                        <button class="dropdown-item" role="button" data-action="click->task-item#restore">
                            Восстановить
                        </button>
                    </li>
                    {% else %}
                    <li>
                        <button class="dropdown-item" role="button" data-action="click->task-item#delete">
                            Удалить
                        </button>
                    </li>
                    {% endif %}
                    <li>
                        <button class="dropdown-item" role="button" data-action="click->task-item#fullDelete">
                            Удалить бесвозвратно
                        </button>
                    </li>
                </ul>
            </div>

            {% if task.deadline %}
            <small class="text-muted">До {{ task.deadline|date('d.m.Y') }}</small>
            {% endif %}
        </div>
    </div>
</div>
